# Dependencies
node_modules/

# Build
dist/
dist-server/
*.tsbuildinfo

# Env
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.local
